<!DOCTYPE html>
<html>
  <head>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'navigation.html' %}

    <div class="indent">

    <h1>Threat</h1>

    <p>
    {{ threat.name }} ID: {{ threat.id }} Category:{{ threat.category}} Severity: {{ threat.severity}} 
    ({{ threat.type }} {{ threat.platform }}  {{ threat.family }}  {{ threat.variant }}  {{ threat.suffixes }})
    </p>

    <h2> Yara Signatures</h2>

    {% if threat.yara_rules|length == 0 %}
        <p>No Yara rules found for this threat.</p>
    {% endif %}

    {% for sig in threat.yara_rules %}
        <div class="sig">
            <pre>{{sig}}
            </pre>
        </div>
    {% endfor %}

    <h2> Lua Scripts</h2>

    {% if threat.lua_scripts|length == 0 %}
        <p>No Lua scripts found for this threat.</p>
    {% endif %}

    {% for script in threat.lua_scripts %}
        <div class="script">
            <pre>{{script|bytes_to_str}}
            </pre>
        </div>
    {% endfor %}


    <h2> Revoked Certificates </h2>

    {% if threat.revoked_certs|length == 0 %}
        <p>No revoked certificates found for this threat.</p>
    {% endif %}

    {% for cert in threat.revoked_certs %}
        <div class="cert">
            Thumbprint: {{cert}} <br>
        </div>
    {% endfor %}
    <br>


    <h2> Other Signatures </h2>
    {% if signatures|length == 0 %}
        <p>No further sigs found for this threat.</p>
    {% else %}
        Purpose of these signatures are mostly unknown. <br><br>
    {% endif %}

    {% for sig in signatures %}
        <div class="tag">
            <pre>{{sig}}
            </pre>
        </div>
    {% endfor %}

    </div>
  </body>
</html>